@model IEnumerable<Book>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="jumbotron text-center">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" asp-route-id="" class="btn btn-sm btn-outline-secondary">Back Home</a>
        <form asp-controller="Book" asp-action="Search" method="get">
            <input type="text" name="searchTerm" placeholder="Search by title or category">
            <button type="submit">Search</button>
        </form>
        <h1 class="jumbotron-heading">Books</h1>
        
        <a asp-controller="Book" asp-action="GetUserId" class="btn btn-sm btn-outline-secondary">GetUserId</a>        
       @* <p>User ID: @ViewBag.UserId</p>*@
       
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.ActualBook" alt="Card image cap" width="100" height="350">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Category</p>
                            <p class="card-text">@item.BookSummary</p>

                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    
                                    <a asp-controller="Book" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Detail</a>
                                    
                                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>                
            }   
         </div>
    </div>
 </div>
